body {
    width: 230px;
    height: 250px; 
    font-family: YEEZY; 
}

.h1-like { 
    font-size: 2em;  
    font-weight: bold; 
    margin-top: 0;   
    margin-bottom: 0; 
    color: red
}

@font-face {
    font-family: YEEZY;
    src: url(yeezy_tstar-light-webfont.woff);
}

img{
    max-width:50px;
    max-height:50px;
}

.logo-row{
    display: flex; /* Auto align */
    flex-wrap: wrap; /* Images will stay in body*/
    justify-content: center; 
    gap: 15px;
}